

/*body{
    background-color: rgb(29, 88, 128);
    margin:auto;
    width:80%;*/

.bigwhitebox{
    height: 500px;
    width: 425px;
    background-color: pink;
    border-radius: 20px;
    margin: 30px;

    
     
}

.custom-margin{
    margin-left: 7.70rem;
    margin-top: 1.70rem;


}

.qr_code{
    
    height: 360px;
    width: 380px;
    border-radius: 10px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
        
}
    
.LARGEcopy{
    /*flex: wrap;*/
    /*flex-direction*/
    text-align: center;
    /*align-items: center;*/
    height: 50px;
    width: 303px;
    margin-left: 50px;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 25px;
    font-weight: bold;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
    
}

.SMALLcopy{
    /*flex: wrap;*/
    text-align: center;
    height: 50px;
    width: 265px;
    margin:auto;
    font-size: 15px;
    color: lightslategray;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    
}
